.jumbotron_returnal {
    background-image: none;
    height: auto;
}

.banner{
    background-color: #091112;
}

.sliders_new .card{
    max-height: unset;
}

.legend{
    background-image: linear-gradient(#000000ad, #00000000), url("https://gmedia.playstation.com/is/image/SIEPDC/returnal-screen-06-ps5-15jun20-en?$1600px--t$");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    height: 700px;
  
}

.legend .row{
    height: 700px;
}

.legend .row .col{
    max-height: calc(80%);
    overflow-y: auto;
    
}

.explore .card {
    
    border-radius: 20px;
    transition: transform 1.3s;
    overflow: hidden;
}

.explore .card img{
    border-radius: 20px;
}

.explore .card-title{
    text-align: center;
}

 .explore li::marker { color: blue; }
