:root {

    /****** PERSONAL TEXT COLORS ******/
    --ps-text-primary: #000000;
    /* text-primary */
    --ps-text-white: #FFFFFF;
    /* texx-secondary */
    --ps-text-title: #0070D1;
    /* title-primary */
    --ps-text-light-title: #7D7D7D;
    /* title-secondary */

    /***** PERSONAL BACKGROUND COLORS  *****/

    --ps-btn-dark: #363636;
    /* btn-1 */
    --ps-btn-red: #CD3D0F;
    /* btn-2 */
    --ps-btn-lgblue: #2D64E6;
    /* btn-3 */
    --ps-btn-lighter: #F5F5F5;
    /* btn-4 */
    --ps-btn-lggrey: #D9DADC;
    /* btn-5 */
    --ps-arrow-nav: #A1A1A1;

    /***** PERSONAL BACKGROUND COLORS  *****/


    --ps-bg-footer: #00439C;
    /* bg-footer */
    --ps-bg-plus: #BEBCBB;
    /* bg-plus */
    --ps-bg-out: #1F1F1F;
    /* bg-uscite */
    --ps-bg-now: #161C3B;
    /* bg-ps-now */
}

/* General */

/* div[class^="col"]{
    border: #00439C solid 3px;
} */

/* .products_slider div,
.plus div[class^="col"] {
    border: #009c68 solid 3px;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--ps-text-primary);
}

button {
    border: none;
}

h2{
    padding: 1rem 0;
}

/* Utility */
#header_site{
    z-index: 3;
    position: sticky;
    top: 0;
    width: 100%;
}

.jumbotron {
    background-position: top center;
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
}

.card {
    border: none;
    background-color: unset;
}

.card-body{
    padding: 1rem 0;
}


.ps_btn {
    border-radius: 20px;
    padding: 0.4rem 1rem;
}

.ps_btn:hover {
    outline: 2px solid var(--ps-text-primary);
    outline-offset: -4px;
}

.ps_btn_red {
    background-color: var(--ps-btn-red);
}

.ps_btn_blue {
    background-color: var(--ps-btn-lgblue);
    color: var(--ps-text-white);
}

.ps_btn_light{
    background-color: var(--ps-btn-lggrey);
    color: var(--ps-btn-lgblue);
}

.selected {
    outline: 4px solid var(--ps-text-title);
    outline-offset: 2px;
}

.selected_under {
    border-bottom: 3px solid var(--ps-text-title);
}


.p_color {
    color: var(--ps-text-light-title);
}

/* Header */

.top_header {
    background-color: var(--ps-text-primary);
}

.top_header>img {
    max-height: 14px;

}

.play_link>img {
    width: 50%;
}

.nav-link:hover {
    color: var(--ps-text-primary);
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
    border: none;
}

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
    color: var(--ps-arrow-nav);
    padding-left: 2px;

}

.dropdown-toggle:active :after {
    font: var(--fa-font-solid);
    content: "\f106";
}

/* Main */

/* Jumbotron */

.jumbotron_returnal {
    background-image: url("../img/jumbo-bg.png");
}

.jumbotron_returnal .text-box>img{
    min-height: 50px;
}

/* Sliders_new */

.sliders_new .card {
    max-height: 130px;
    border-radius: 20px;
    transition: transform 1.3s;
    overflow: hidden;
}

.sliders_new .card:hover {
    display: block;
    transform: translateY(-30px);
}

/* Play5 */

.play5_title>h5 {
    color: var(--ps-text-title);
}

#product_slider a:hover .selection_under,
#product_slider a:hover .selected_under {
    border-bottom: 3px solid var(--ps-text-title);
    opacity: 0.5;

}

#product_slider a:focus .selection_under {
    border-bottom: 3px solid var(--ps-text-title);

}


/* It takes two */

.jumbotron_takes_two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.jumbotron_takes_two .display-3>img{
    max-height: 9rem;
}

/* Console */

.console img{
    width: 90%;
}

/* new_out */

.new_out{
    background-color: var(--ps-bg-out);
}

/* ps plus */

.ps_plus{
    background-color: var(--ps-bg-plus);
}

.ps_now{
    background-color: var(--ps-bg-now);
}


.media .card{
    aspect-ratio: 1;
    max-height: 200px;
}

/* Footer */

#footer_site{
    background-color: var(--ps-bg-footer);
}

.logo_footer{
    object-fit: contain;
    object-position: left;
    max-height: 130px;
    padding: 1rem 0 ;
}

.language_icon{
    max-height: 25px;
    padding-right: 1rem;
}

.links_footer a{
 color: var(--ps-text-white);
 margin-top: 0.5rem; 
 display: inline-block; 
}

.copyright>.col>img{
    object-fit: contain;
    object-position: left;
    max-height: 100px;
    padding-bottom: 2rem;
}


/* MediaQuery */

@media screen and (min-width:576px) {
    .text-box >img{
        width: 60%;
    }
}

@media screen and (min-width:992px) {
    .text-box {
        width: 35%;
    }

    .text-box >img{
        width: 90%;
    }
}